<!DOCTYPE html>
<html ng-app="microfaqs">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Microfaqs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/" target="_self">&micro;FAQs</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
    <%if user_signed_in?%>
      <li><a href="#">Logged in as <%=current_user.username%></a></li>
      <li><a href="/users/sign_out" data-method="delete" rel="nofollow">Log out</a></li>
    <%else%>
      <li><a href="/users/sign_in">Login</a></li>
      <li><a href="/users/sign_up">Signup</a></li>
    <%end%>
    </ul>
  </div>

  </div>
</div>
<div class="content-wrapper">


<%= yield %>

</div>
</body>
</html>
